<p id="notice"><%= notice %></p>

<h1>Students</h1>

<%= render "search_form" %>

<table class='table'>
  <thead>
  <tr>
    <th>Full Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Institution</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.full_name %> </td>
      <td><%= student.address %></td>
      <td><%= student.email %></td>
      <td><%= student.mobile %></td>
      <td><%= student.institution.name %></td>
      <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Approve', accept_student_path(student),method: :post %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @students %>
